@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.layout {
  width: 90%;
  margin: 0 auto;
  max-width: 68.75rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.btn {
  background-color: #fb4b00;
  padding: 0.5em 1em;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid #fb4b00;
  font-size: 0.875rem;

  display: inline-block;
}

.btn:hover {
  background-color: #fd7034;
  border-color: #fd7034;
}

.btn:active {
  background-color: #ff5810;
  border-color: #ff5810;
}

.btn--outline {
  background-color: white;
  color: #fd7034;
}

.btn--outline:hover {
  background-color: white;
  border-color: #fd7034;
  color: #fd7034;
}

.btn--outline:active {
  background-color: white;
  border-color: #ff5810;
  color: #ff5810;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.navbar-wrapper {
  box-shadow: 0px 0px 15px rgba(251, 75, 0, 0.15);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: white;
}

.navbar__logo {
  color: #fb4b00;
  font-size: 1.125rem;
}

.navbar__link {
  font-size: 0.75rem;
}

.navbar__link:hover {
  color: #fd7034;
}

.navbar__link:active {
  color: #b53c08;
}

.navbar__link + .navbar__link {
  margin-left: 0.5rem;
}

.navbar__link--accent {
  color: #fb4b00;
  font-weight: bold;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  min-height: calc(100vh - 5rem);

  margin-top: 5rem;
}

.hero__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.hero__accent {
  color: #fb4b00;
}

.hero__text {
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.hero__img {
  width: 100%;
}

.hero__content {
  width: 100%;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row-reverse;
  }

  .hero__img {
    max-width: 560px;
    margin-left: 2rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .btn {
    font-size: 1rem;
  }

  .navbar__link {
    font-size: 1rem;
  }
}

/* ---------------- WHY SECTION -------------------- */
.why {
  background-color: #fff1eb;
  padding: 3rem 0;
  text-align: center;
}

.why__title {
  margin-bottom: 0.5rem;
}

.why__text {
  margin-bottom: 2rem;
}

.why__cardgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why__card-text {
  font-weight: bold;
  margin: 0;
}

.why__card + .why__card {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .why__cardgroup {
    flex-direction: row;
  }

  .why__card + .why__card {
    margin-top: 0;
    margin-left: 2rem;
  }
}

/* ---------------- CREATE SECTION -------------------- */
.create {
  padding: 3rem 0;
}

.create__title {
  margin: 0;
  margin-bottom: 0.2rem;
}

.create__text {
  margin: 0;
  margin-bottom: 3rem;
}

.create__card-group {
  display: grid;
  gap: 2rem;
}

.create__card {
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;

  overflow: hidden;
}

.create__card-img {
  width: 100%;
}

.create__card-content {
  padding: 1rem;
}

.create__card-content h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.create__card-content p {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

@media (min-width: 600px) {
  .create__card-group {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .create__card-group {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ---------------- FOOTER SECTION -------------------- */

.footer {
  padding: 3rem 0;
  background-color: #fff1eb;
}

.footer .layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__avatar {
  max-width: 150px;
  border-radius: 50%;
}

.footer__name {
  font-weight: bold;
  margin: 1rem 0 0.2rem;
}
